*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    text-align: center;
    font-size: 175%;
}

section {
    float: left;
    border: 2px solid;
    padding: 0;
    position:relative;
    margin-bottom: 20px;
}
section > h4 {
    font-size: 125%;
    text-align: right;
    width: 150px;
    border: 1px solid;
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0; /*REPASAR LECTURA 22*/
}
section > p {
    padding: 3px;
    margin-top: 40px
}

#chicken{
    background-color: pink;
}

#beef{
    background-color: red;
}

#sushi{
    background-color: yellow;
}

@media (min-width: 768px) and (max-width: 991px){
    
    /***********DIFERENTES DISTRIBUCIONES***********/
    .col-tab-2{
        width: 16,66%;
    }
    .col-tab-3{
        width: 25%;
    }
    .col-tab-4{
        width: 33.33%;
    }
    .col-tab-6{
        width: 48.5%;
    }
    #s1 {
        margin-right: 3%;
    }


}

@media (min-width: 992px){
    

    /***********DIFERENTES DISTRIBUCIONES***********/
    .col-desk-2{
        width: 16,66%;
    }
    .col-desk-3{
        width: 30.33%;
    }
    .col-desk-4{
        width: 32%;
    }
    .col-desk-6{
        width: 50%;
    }
    #s2{
        margin: 0 2% 0 2%;
    }
}
